<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid px-4 px-lg-5">
    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="{{"/" | relative_url }}">
      {{ site.title | escape }}
    </a>
    
    <!-- Hamburger Toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/youtube" | relative_url }}">YouTube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/resources" | relative_url }}">Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/articles" | relative_url }}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
